/* Variables */
/* General styles */
* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, arial, sans-serif;
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  margin: 0;
  min-width: 320px;
}

button,
input {
  border: 0;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #666;
}

p {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 2rem;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 1.5rem;
  }
}

header,
main,
footer {
  min-width: 1000px;
}
@media screen and (max-width: 768px) {
  header,
main,
footer {
    min-width: 0;
  }
}

/* Header section */
@media screen and (max-width: 768px) {
  .header-top .logo img {
    height: 23px;
    width: 120px;
  }
}
.header-top .container {
  align-items: center;
  display: flex;
  gap: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
@media screen and (max-width: 768px) {
  .header-top .container {
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }
}
.header-top .search {
  flex: 1;
}
@media screen and (max-width: 768px) {
  .header-top .search {
    flex: none;
    order: 3;
    width: 100%;
  }
}
.header-top .search form {
  position: relative;
}
.header-top .search input {
  border-radius: 4px;
  border: 1px solid #d0d0d0;
  height: 3rem;
  outline: none;
  padding: 0 3.6rem 0 1.2rem;
  width: 100%;
}
.header-top .search input::-webkit-input-placeholder {
  color: #ccc;
}
.header-top .search button {
  background-color: transparent;
  bottom: 0;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 3.2rem;
}
.header-top .search button:disabled {
  cursor: default;
}
.header-top .search button:disabled #icon-search {
  fill: rgba(204, 204, 204, 0.4);
}
.header-top .search #icon-search {
  height: 1em;
  width: 1em;
}
.header-top .phone {
  font-size: 1.8rem;
}
@media screen and (max-width: 768px) {
  .header-top .phone {
    display: none;
  }
}
.header-top .phone:not(:hover) #icon-phone {
  fill: #ccc;
}
.header-top .phone a,
.header-top .phone #icon-phone {
  vertical-align: middle;
}
.header-top .phone a {
  color: inherit;
}
.header-top .phone #icon-phone {
  height: 1.1em;
  margin-right: 0.2rem;
  transition: all 0.3s;
  width: 1.1em;
}
.header-top .timetable {
  display: inline-block;
  margin-left: 2.4rem;
  position: relative;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .header-top .timetable {
    display: none;
  }
}
.header-top .timetable #icon-clock {
  fill: #ccc;
  height: 1.2em;
  left: -23px;
  position: absolute;
  top: 0;
  width: 1.2em;
}
.header-top .timetable .timetable-title {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
.header-top .timetable .timetable-text p {
  margin-bottom: 0.3rem;
}
.header-top .timetable .timetable-text strong {
  display: inline-block;
  min-width: 6.3rem;
}
.header-top .basket .basket-link {
  display: block;
}
.header-top .basket .basket-icon {
  display: inline-block;
  position: relative;
  transition: all 0.15s;
}
.header-top .basket #icon-basket-outline {
  display: inline-block;
  font-size: inherit;
  height: 2.4em;
  vertical-align: middle;
  width: 2.4em;
}
.header-top .basket .basket-items {
  background: #ff671e;
  border-radius: 15px;
  color: white;
  font-size: 1rem;
  left: -3px;
  line-height: 1.3;
  padding: 0.1rem 0.4rem;
  position: absolute;
  top: 8px;
}
.header-top .basket .basket-contents {
  display: inline-block;
  margin-left: 1.2rem;
  vertical-align: middle;
}
@media screen and (max-width: 425px) {
  .header-top .basket .basket-contents {
    display: none;
  }
}
.header-top .basket .basket-title,
.header-top .basket .basket-value {
  color: black;
}
.header-top .basket .basket-title {
  color: black;
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0.4rem;
}

.header-bottom {
  background-color: black;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
}
.header-bottom .container {
  padding: 0;
}
.header-bottom ul {
  display: flex;
  overflow-y: auto;
}
.header-bottom li {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .header-bottom li {
    flex: 1;
  }
}
.header-bottom a {
  color: inherit;
  display: block;
  line-height: 4rem;
  padding: 0 2.5rem;
  white-space: nowrap;
}

/* Main section */
main {
  background-color: #fafafa;
}

.banner,
.catalog {
  margin: 4rem 0;
}
.banner .carousel-cell,
.catalog .carousel-cell {
  background: white;
  border-radius: 4px;
  height: auto;
}
.banner .carousel-cell::before,
.catalog .carousel-cell::before {
  display: none;
}

@media screen and (max-width: 768px) {
  .banner {
    margin: 0;
  }
  .banner .container {
    padding: 0;
  }
}
.banner .carousel-banners .carousel-cell {
  width: 100%;
}
.banner .carousel-banners img {
  display: block;
  height: 100%;
  width: 100%;
}
.banner .carousel-banners .flickity-page-dots {
  bottom: 15px;
}
@media screen and (max-width: 768px) {
  .banner .carousel-banners .flickity-page-dots {
    bottom: 10px;
  }
}
.banner .carousel-banners .flickity-page-dots .dot {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.02);
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .banner .carousel-banners .flickity-page-dots .dot {
    height: 6px;
    width: 6px;
  }
}
.banner .carousel-banners .flickity-page-dots .dot.is-selected {
  background: white;
  border-color: rgba(0, 0, 0, 0.25);
  box-shadow: none;
  cursor: default;
}
.banner .carousel-banners .flickity-button {
  background: transparent;
  border-radius: 0;
  height: 100%;
  width: 60px;
}
@media screen and (max-width: 768px) {
  .banner .carousel-banners .flickity-button {
    display: none;
  }
}
.banner .carousel-banners .flickity-button:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.15);
  opacity: 1;
}
.banner .carousel-banners .flickity-button.next {
  right: 0;
}
.banner .carousel-banners .flickity-button.next .flickity-button-icon {
  left: 10%;
}
.banner .carousel-banners .flickity-button.previous {
  left: 0;
}
.banner .carousel-banners .flickity-button.previous .flickity-button-icon {
  left: 30%;
}
.banner .carousel-banners .flickity-button:hover .flickity-button-icon {
  fill: white;
  opacity: 1;
}
.banner .carousel-banners .flickity-button-icon {
  fill: black;
  opacity: 0.1;
}

@media screen and (max-width: 768px) {
  .catalog {
    margin: 2rem 0;
  }
}
.catalog .catalog-title {
  color: #ff671e;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}
.catalog .catalog-content {
  padding: 0 1rem;
}
@media screen and (max-width: 768px) {
  .catalog .catalog-content {
    padding: 0;
  }
}
.catalog .carousel-products .carousel-cell {
  border: 1px solid #f0f0f0;
  max-width: 260px;
  min-width: 120px;
  width: 24%;
}
.catalog .carousel-products .flickity-button {
  background: transparent;
}
@media screen and (max-width: 768px) {
  .catalog .carousel-products .flickity-button {
    display: none;
  }
}
.catalog .carousel-products .flickity-button:hover {
  background: transparent;
}
.catalog .carousel-products .flickity-prev-next-button.previous {
  left: -3rem;
  top: 30%;
}
.catalog .carousel-products .flickity-prev-next-button.next {
  right: -3rem;
  top: 30%;
}
.catalog .carousel-products .product-container {
  display: flex;
  flex-direction: column;
}
.catalog .carousel-products .product-image {
  margin: 0 auto 1.5rem;
  padding: 1.5rem 1.5rem 0;
  position: relative;
}
.catalog .carousel-products .product-image img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}
.catalog .carousel-products .product-sticker {
  bottom: 0;
  color: white;
  position: absolute;
}
.catalog .carousel-products .product-sticker-item {
  background-color: #ade1cb;
  border-radius: 2px 2px 2px 0;
  text-align: center;
  width: 4rem;
}
.catalog .carousel-products .product-sticker-item::before {
  border-color: transparent #ade1cb transparent transparent;
  border-style: solid;
  border-width: 0 8px 8px 0;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: 100%;
  width: 0;
}
.catalog .carousel-products .product-sticker-item::after {
  background: url("../images/shadow.svg") 0 0 no-repeat;
  content: "";
  height: 8px;
  left: 0;
  position: absolute;
  top: 100%;
  width: 8px;
}
.catalog .carousel-products .product-info {
  padding: 0 1.5rem 1.5rem;
}
.catalog .carousel-products .product-code {
  color: #acacac;
  display: inline-block;
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
}
@media screen and (max-width: 768px) {
  .catalog .carousel-products .product-code {
    display: none;
  }
}
.catalog .carousel-products .product-title {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  font-size: 1.5rem;
  height: 4.8em;
  line-height: 1.2;
  margin: 0 0 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 768px) {
  .catalog .carousel-products .product-title {
    font-size: 1.3rem;
  }
}
.catalog .carousel-products .product-price-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}
.catalog .carousel-products .product-price {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 0.9rem;
}
@media screen and (max-width: 768px) {
  .catalog .carousel-products .product-price {
    font-size: 1.4rem;
    margin-top: 0.4rem;
  }
}
.catalog .carousel-products .buy {
  background: #ff671e;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 0.3rem 0.5rem;
}
@media (hover: hover) {
  .catalog .carousel-products .buy:hover {
    opacity: 0.8;
  }
}
.catalog .carousel-products .buy:active {
  opacity: 0.5;
}
@media screen and (max-width: 768px) {
  .catalog .carousel-products .buy {
    font-size: 1.4rem;
    width: 100%;
  }
}

/* Footer section */
footer {
  background: #171717;
  color: #efefef;
}
footer .container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  padding-bottom: 3rem;
  padding-top: 3rem;
}
@media screen and (max-width: 768px) {
  footer .container {
    align-items: center;
    flex-direction: column;
  }
  footer .container :nth-child(1) {
    order: 2;
  }
  footer .container :nth-child(2) {
    order: 1;
  }
}
footer .footer-logo {
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 768px) {
  footer .footer-logo {
    display: none;
  }
}
footer .footer-copyright {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-bottom: 1.5rem;
}
footer .heading {
  color: #ff671e;
  font-weight: bold;
  margin-bottom: 1rem;
}
footer .contacts-item {
  font-size: 1.3rem;
  margin-bottom: 1.1rem;
}
footer .icon {
  fill: #efefef;
  height: 1.6rem;
  margin-right: 0.8rem;
  opacity: 0.6;
  vertical-align: middle;
  width: 1.6rem;
}
footer .link {
  color: #efefef;
  vertical-align: middle;
}

/*# sourceMappingURL=main.css.map */
