/* Variables */

$active-color: #ff671e;
$font-family: Roboto, arial, sans-serif;
$mobile-l-width: 425px;
$tablet-width: 768px;

/* General styles */

* {
  box-sizing: border-box;
}

html {
  font-family: $font-family;
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  margin: 0;
  min-width: 320px;
}

button,
input {
  border: 0;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;

  &:hover {
    color: #666;
  }
}

p {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 1.5rem;
  width: 100%;
}

header,
main,
footer {
  min-width: 1000px;

  @media screen and (max-width: $tablet-width) {
    min-width: 0;
  }
}

/* Header section */

.header-top {
  .logo {
    @media screen and (max-width: $tablet-width) {
      img {
        height: 23px;
        width: 120px;
      }
    }
  }

  .container {
    align-items: center;
    display: flex;
    gap: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;

    @media screen and (max-width: $tablet-width) {
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 1.5rem;
    }
  }

  .search {
    flex: 1;

    @media screen and (max-width: $tablet-width) {
      flex: none;
      order: 3;
      width: 100%;
    }

    form {
      position: relative;
    }

    input {
      border-radius: 4px;
      border: 1px solid #d0d0d0;
      height: 3rem;
      outline: none;
      padding: 0 3.6rem 0 1.2rem;
      width: 100%;

      &::-webkit-input-placeholder {
        color: #ccc;
      }
    }

    button {
      background-color: transparent;
      bottom: 0;
      cursor: pointer;
      outline: none;
      position: absolute;
      right: 0;
      top: 0;
      width: 3.2rem;

      &:disabled {
        cursor: default;

        #icon-search {
          fill: rgba(204, 204, 204, 0.4);
        }
      }
    }

    #icon-search {
      height: 1em;
      width: 1em;
    }
  }

  .phone {
    font-size: 1.8rem;

    @media screen and (max-width: $tablet-width) {
      display: none;
    }

    &:not(:hover) #icon-phone {
      fill: #ccc;
    }

    a,
    #icon-phone {
      vertical-align: middle;
    }

    a {
      color: inherit;
    }

    #icon-phone {
      height: 1.1em;
      margin-right: 0.2rem;
      transition: all 0.3s;
      width: 1.1em;
    }
  }

  .timetable {
    display: inline-block;
    margin-left: 2.4rem;
    position: relative;
    text-align: left;

    @media screen and (max-width: $tablet-width) {
      display: none;
    }

    #icon-clock {
      fill: #ccc;
      height: 1.2em;
      left: -23px;
      position: absolute;
      top: 0;
      width: 1.2em;
    }

    .timetable-title {
      font-size: 1.3rem;
      margin-bottom: 0.5rem;
    }

    .timetable-text {
      p {
        margin-bottom: 0.3rem;
      }

      strong {
        display: inline-block;
        min-width: 6.3rem;
      }
    }
  }

  .basket {
    .basket-link {
      display: block;
    }

    .basket-icon {
      display: inline-block;
      position: relative;
      transition: all 0.15s; // TODO: Потрібно при зміні кількості покупок?
    }

    #icon-basket-outline {
      display: inline-block;
      font-size: inherit;
      height: 2.4em;
      vertical-align: middle;
      width: 2.4em;
    }

    .basket-items {
      background: $active-color;
      border-radius: 15px;
      color: white;
      font-size: 1rem;
      left: -3px;
      line-height: 1.3;
      padding: 0.1rem 0.4rem;
      position: absolute;
      top: 8px;
    }

    .basket-contents {
      display: inline-block;
      margin-left: 1.2rem;
      vertical-align: middle;

      @media screen and (max-width: $mobile-l-width) {
        display: none;
      }
    }

    .basket-title,
    .basket-value {
      color: black;
    }

    .basket-title {
      color: black;
      font-size: 1.7rem;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 0.4rem;
    }
  }
}

.header-bottom {
  background-color: black;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;

  .container {
    padding: 0;
  }

  ul {
    display: flex;
    overflow-y: auto;
  }

  li {
    text-align: center;

    @media screen and (max-width: $tablet-width) {
      flex: 1;
    }
  }

  a {
    color: inherit;
    display: block;
    line-height: 4rem;
    padding: 0 2.5rem;
    white-space: nowrap;
  }
}

/* Main section */

main {
  background-color: #fafafa;
}

.promo {
  .container {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .catalog-title {
    color: $active-color;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }

  .catalog-content {
    padding: 2rem 1rem 0;
  }

  .carousel {
    background-color: transparent;
    margin: 0;
  }

  .carousel-cell {
    background: white;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
    height: auto;
    max-width: 260px;
    min-width: 120px;
    width: 24%;

    &::before {
      display: none;
    }
  }

  .flickity-button {
    background: transparent;

    @media screen and (max-width: $tablet-width) {
      display: none;
    }

    &:hover {
      background: transparent;
    }
  }

  .flickity-prev-next-button.previous {
    left: -3rem;
  }

  .flickity-prev-next-button.next {
    right: -3rem;
  }

  .product-container {
    display: flex;
    flex-direction: column;
  }

  .product-image {
    margin: 0 auto 1.5rem;
    padding: 1.5rem 1.5rem 0;
    position: relative;

    img {
      height: auto;
      max-height: 100%;
      max-width: 100%;
      width: auto;
    }
  }

  .product-sticker {
    bottom: 0;
    color: white;
    position: absolute;
  }

  .product-sticker-item {
    $sticker-color: #ade1cb;
    $height-shadow: 8px;
    background-color: $sticker-color;
    border-radius: 2px 2px 2px 0;
    text-align: center;
    width: 4rem;

    &::before {
      content: '';
      border-color: transparent $sticker-color transparent transparent;
      border-style: solid;
      border-width: 0 $height-shadow $height-shadow 0;
      height: 0;
      left: 0;
      position: absolute;
      top: 100%;
      width: 0;
    }

    &::after {
      background: url('../images/shadow.svg') 0 0 no-repeat;
      content: '';
      height: $height-shadow;
      left: 0;
      position: absolute;
      top: 100%;
      width: $height-shadow;
    }
  }

  .product-info {
    padding: 0 1.5rem 1.5rem 1.5rem;
  }

  .product-code {
    color: #acacac;
    display: inline-block;
    font-size: 1.1rem;
    margin-bottom: 0.4rem;

    @media screen and (max-width: $tablet-width) {
      display: none;
    }
  }

  .product-title {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    font-size: 1.5rem;
    height: 4.8em;
    line-height: 1.2;
    margin: 0 0 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;

    @media screen and (max-width: $tablet-width) {
      font-size: 1.3rem;
    }
  }

  .product-price {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.2;
    margin-top: 0.9rem;

    @media screen and (max-width: $tablet-width) {
      font-size: 1.4rem;
      margin-top: 0.4rem;
    }
  }
}

/* Footer section */

footer {
  $contact-color: #efefef;
  background: #171717;
  color: $contact-color;

  .container {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    padding-bottom: 3rem;
    padding-top: 3rem;

    @media screen and (max-width: $tablet-width) {
      align-items: center;
      flex-direction: column;

      & :nth-child(1) {
        order: 2;
      }

      & :nth-child(2) {
        order: 1;
      }
    }
  }

  .footer-logo {
    margin-bottom: 2.5rem;

    @media screen and (max-width: $tablet-width) {
      display: none;
    }
  }

  .footer-copyright {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-bottom: 1.5rem;
  }

  .heading {
    color: $active-color;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .contacts-item {
    font-size: 1.3rem;
    margin-bottom: 1.1rem;
  }

  .icon {
    fill: $contact-color;
    height: 1.6rem;
    margin-right: 0.8rem;
    opacity: 0.6;
    vertical-align: middle;
    width: 1.6rem;
  }

  .link {
    color: $contact-color;
    vertical-align: middle;
  }
}
